<a href="https://colab.research.google.com/github/chanikyavardhan/DWDM-lab/blob/main/Untitled25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("/content/students_placement_data (3).csv")
data.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,87.3,65.3,40.00,18,NO,Not placed
1,2,F,A,89.0,92.4,71.45,0,yes,Placed
2,3,F,A,67.0,68.0,45.26,13,yes,Not placed
3,4,M,A,71.0,70.4,36.47,17,yes,Not placed
4,5,M,A,NaN,65.5,42.52,17,yes,Not placed

In [5]:
X = data.iloc[:,[2,3]]
print(X)

    Section  SSC Percentage
0         A            87.3
1         A            89.0
2         A            67.0
3         A            71.0
4         A             NaN
..      ...             ...
112       B            81.1
113       B            81.3
114       B            83.5
115       B            85.5
116       B            80.0

[117 rows x 2 columns]

In [8]:
Y = data.iloc[:,-1]
print(Y)

0      Not placed
1          Placed
2      Not placed
3      Not placed
4      Not placed
          ...
112    Not placed
113    Not placed
114    Not placed
115    Not placed
116    Not placed
Name: placement status, Length: 117, dtype: object

In [14]:
m = data['SSC Percentage'].mean()
print(m)
data['SSC Percentage'] = data['SSC Percentage'].fillna(m)
#print(data['SSC Percentage'])

80.47456896551722
0      87.300000
1      89.000000
2      67.000000
3      71.000000
4      80.474569
         ...
112    81.100000
113    81.300000
114    83.500000
115    85.500000
116    80.000000
Name: SSC Percentage, Length: 117, dtype: float64